@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
    --pc: #63E5F8;
    --sc: #f7df1e;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Patua One', cursive;
    background-color: var(--pc);
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a{
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active{
    color: var(--pc);
}

.links a:hover{
    color: var(--pc);
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--pc);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--pc);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: width 500ms ease-in-out;
}

/* card */
.card {
    background-color: white;
    width: 800px;
    margin: 45px auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 2px 2px 10px -2px black;
    animation: up 700ms ease-out;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(15px);
    } 100% {
        opacity: 1;
    }
}

/* details */

.details {
    padding: 32px;
}

.details h3 {
    margin-bottom: 8px;
}

.details .item {
    border-bottom: 2px solid #63E5F8;
    margin-bottom: 12px;
}

.details .item div{
    margin-bottom: 4px;
}

.details .item div:nth-child(1){
    color: #26cae4;
    font-size: .9em;
}

.details .item div:nth-child(2) span{
    padding: 2px 8px;
    background-color: #ffb92c;
    border-radius: 16px;
    margin-right: 4px;
    font-size: 12px;
}

/* Form */

input{
    width: 100%;
    outline: none;
    font-weight: bold;
}

input[type="radio"] {
    width: initial;
    margin-right: 5px;
}

input::placeholder{
    font-size: 14px;
    font-weight: normal;
}

button[type="submit"]{
    padding: 10px 32px;
    background-color: var(--pc);
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
}